div {
  text-align: center;
  margin-top: 10%;
}

h2 {
  font-size: 40px;
}

button {
  margin: 1%;
  width: 5%;
  border-radius: 5px;
  border: 1px solid black;
  padding-top: 2px;
  cursor: pointer;
}